{% extends 'core/base.html' %}

{% block content %}
<div class="container py-4">
    <a href="{% url 'lista_servicios' %}" class="btn btn-outline-secondary mb-3">&larr; Volver</a>
    
    <h2 class="mb-4">Horarios disponibles para: {{ servicio.nombre }}</h2>

    {% if horarios %}
        <div class="row">
            {% for turno in horarios %}
            <div class="col-sm-6 col-md-4 col-lg-3 mb-3">
                <div class="card border-success">
                    <div class="card-body text-center">
                        <h5 class="card-title text-success">{{ turno.fecha|date:"D d M" }}</h5> <h3 class="fw-bold">{{ turno.hora_inicio|time:"H:i" }}</h3>
                        <p class="mb-3 text-muted">a {{ turno.hora_fin|time:"H:i" }}</p>
                        
                        <a href="{% url 'reservar_turno' turno.id %}" class="btn btn-success w-100">
                            Reservar
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-warning text-center">
            No hay turnos disponibles para este servicio próximamente. Contacta al profesor.
        </div>
    {% endif %}
</div>
{% endblock %}